name: Build for My Device (x64)

on:
  workflow_dispatch:

env:
  REPO_URL: https://github.com/kzh1980/QModem
  REPO_BRANCH: main
  RELEASE_TAG: QModem_kzh1980
  TZ: Asia/Shanghai

jobs:
  job_prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - id: set-matrix
        run: |
          support_list='''
          [
            {"target":"x64_ipk","name":"Build QModem (x64_ipk)","sdk":"https://github.com/kzh1980/Actions-OpenWrt-SDK/releases/download/23.05.0/openwrt-sdk-23.05.0-x86-64_gcc-12.3.0_musl.Linux-x86_64.tar.xz"}
          ]
          '''
          echo "matrix=$(echo $support_list | jq -c .)" >> $GITHUB_OUTPUT

  job_build:
    needs: job_prepare
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.job_prepare.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v3
      - name: Build with OpenWrt SDK
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
          sudo swapoff /swapfile
          sudo rm -f /swapfile
          sudo apt-get update
          sudo apt-get -y install build-essential rsync flex git gawk gettext util-linux subversion unzip wget zlib1g-dev
          
          [ -d "work" ] || mkdir work
          cd work
          
          wget -q ${{ matrix.sdk }} -O sdk.tar.xz
          tar -Jxf sdk.tar.xz
          rm -f sdk.tar.xz
          
          ln -sf `ls -d */` openwrt-sdk
          cd openwrt-sdk
          
          echo "src-link qmodem ${{ github.workspace }}/luci" >> feeds.conf.default
          echo "src-link qmodem_other ${{ github.workspace }}/qmodem" >> feeds.conf.default
          
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          
          make defconfig
          make -j$(nproc)
          
          find bin/packages -type f -name "*.ipk" -exec cp {} ${{ github.workspace }}/work \;
          find bin/packages -type f -name "*.apk" -exec cp {} ${{ github.workspace }}/work \;
          
          cd ${{ github.workspace }}/work
          ls -lh
          
      - name: Upload IPK
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}
          path: ${{ github.workspace }}/work

  job_release:
    needs: job_build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Release QModem
        uses: ncipollo/release-action@v1
        with:
          artifacts: "work/*"
          tag: ${{ env.RELEASE_TAG }}_${{ github.run_id }}
          name: QModem ${{ github.run_id }}
          body: |
            QModem release.
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
